{{ $allpages := .Pages }}
{{ $nonlandings := .RegularPages }}
{{ $numlandings := 0 }}
{{ range $pg, $allpages }}
  {{ if (not (in $nonlandings $pg))}}
    {{ $numlandings = add $numlandings 1 }}
  {{ end }}
{{ end }}

{{ if (ne $numlandings 0 )}}
<h3 style="text-align:center">Associated landing pages</h3>
<ul style="list-style-type: none;">
{{ range $pg, $allpages }}
  {{ if (not (in $nonlandings $pg))}}
    <li><h4><a href="{{ .Permalink }}" style="text-decoration: none">{{ .Title }}</a></h4>
  {{ end }}
{{ end }}
</ul>
{{ end }}
