/* https://drive.google.com/uc?id=[unique ID]*/

.text-width {
  width: 100%;
}
.imgHeadshot {
  content:url("https://drive.google.com/uc?id=1EvB7LNiRIXxrA6nSvk4dSiPpGvGMAuBQ");
}

.imgLogo {
  content:url("https://drive.google.com/uc?id=1Q-oue8ZFSwLSmdUZ8TZxOUyXQVMzM7mx");
  filter: brightness(0) saturate(100%) invert(96%) sepia(2%) saturate(4162%) hue-rotate(353deg) brightness(101%) contrast(97%);
}

.logo-size {
  width: 10%;
}

.imgGruvTabLogo {
  content:"https://drive.google.com/uc?id=1iY7dweJbxRAfOagKffo2U78Q3lhqfsxU";
}

.imgGruvFilter {
  filter: brightness(0) saturate(100%) invert(96%) sepia(2%) saturate(4162%) hue-rotate(353deg) brightness(101%) contrast(97%);
}
