/* makes things go on teh same line as the bolded word. pretty :) */
/* Colors */
:root {
    --result-background: #2b333c;
    --result-border: #9abfd8;
    --example-background: #fe801930;
    --example-border: #fe8019;
    --exercise-background: var(--bg); /* last two digits are alpha/transparency values */
    --exercise-border: var(--fg2);
}

body {
  counter-set: math-count 0;
  counter-set: exercise-count 0;
}
p {
  display: inline;
}

.tdf {
  font-weight: bold;
  background-color: #e6cf5770;
}

/* ENV */
.math-env {
  margin-top: 1em;
  margin-bottom: 1em;
} .math-env:before {
  font-weight: bold;
  counter-increment: math-count;
} 

/* RESULTS */
.math-result {
  border-left: 0.3em solid;
  padding: 0.5em;
  background-color: var(--result-background);
  border-left-color: var(--result-border);
} .math-result:before {
  color: var(--result-border);
} math-prop {} .math-prop:before {
  content: "Proposition " counter(math-count)  ". ";
} .math-coro {} .math-coro:before {
  content: "Corollary " counter(math-count)  ". ";
} .math-thm {} .math-thm:before {
  content: "Theorem " counter(math-count)  ". ";
} .math-lem {} .math-lem:before {
  content: "Lemma " counter(math-count)  ". ";
}

/* Other */
.math-rem {} .math-rem:before {
  content: "Remark " counter(math-count)  ". ";
}

/* example */
/* Practice */
.math-practice {
  padding: 0.5em;
  color: inherit;
  margin-top: 1em;
  margin-bottom: 1em;
} .math-practice:before {
  font-weight: bold;
} .math-ex {
  background-color: var(--example-background);
  border: 0.15em solid var(--example-border);
  border-color: var(--example-border);
} .math-ex:before {
  color: var(--example-border);
  content: "Example " counter(math-count)  ". ";
} .math-x {
  border: 0.15em solid var(--exercise-border);
} .math-x:before {
  counter-increment: exercise-count;
  color: var(--exercise-border);
  content: "Exercise " counter(exercise-count)  ". ";
}

/* Proof */
.math-pf {
  padding-bottom: 1em;
} .math-pf:before {
  font-weight: bold;
  content: "Proof. "
} .math-pf:after {
  font-size: "2em";
  content: "██";
  text-align: right;
  float: right;
}
