/* makes things go on teh same line as the bolded word. pretty :) */
body {
  counter-set: math-count 0;
}
p {
  display: inline;
}

.tdf {
  /* font-size: 1.2em; */
  font-weight: bold;
  /* font-variant: small-caps; */
  background-color: #e6cf5770;
}

/* .tdf { */
/*   style = "font-weight: bold;  */
/*   font-variant: small-caps;  */
/*   background-color: rgba(255,255,0, 0.25) !important; */
/* } */

/* abstracted math environment */
.math-env {
  border-left: 5px solid #282828;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: inherit;
  margin-bottom: 10px;
  margin-top: 10px;
  
} .math-env:before {
    counter-increment: math-count;
    color: inherit;
    font-weight:bold;
}


/* Colors */
:root {
    /* Definition colors */
    --definition-background: #2f2e2d;
    --definition-border: #ebdbb2;
    /* Result colors */
    --result-background: #2b333c;
    --result-border: #9abfd8;
    /* Example Colors */
    /* --example-background: #3c3836; */
    --example-background: var(--bg);
    --example-border: var(--fg2);
    /* Upshot colors */
    --upshot-background: #fe801930; /* last two digits are alpha/transparency values */
    --upshot-border: #fe8019;
}

/* Environments */
/* Inherit from one abstracted math environment */
/* remark */
.math-rem {} .math-rem:before {
  /* counter-increment: math-count; */
  font-weight: bold;
  content: "Remark";
}

/* definition */
.math-defn {
  background-color: var(--definition-background);
  border-left-color: var(--definition-border);
  color: inherit;
} .math-defn:before {
  color: var(--definition-border);
  content: "Definition";
}

/* results */
.math-result {
  background-color: var(--result-background);
  border-left-color: var(--result-border);
  /* color: inherit; */
  font-weight: bold;
  color: var(--result-border);
} .math-result:before {}

.math-coro {} .math-coro:before {
  content: "Corollary";
}

.math-prop {} .math-prop:before {
  content: "Proposition";
}

.math-thm {} .math-thm:before {
  content: "Theorem";
}

.math-lem {} .math-lem:before {
  content: "Lemma";
}

/* example */
.math-ex {
  background-color: var(--example-background);
  border: 2px solid var(--example-border);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
} .math-ex:before {
  /* counter-increment: math-count; */
  color: var(--example-border);
  font-weight: bold;
  content: "Example.";
}

/* upshot */
.math-up {
  background-color: var(--upshot-background);
  border: 4px solid var(--upshot-border);
} .math-up:before {
  /* counter-increment: math-count; */
  color: var(--upshot-border);
  font-weight:bold;
  content: "Upshot";
}

/* proof */
.math-pf {
  /* padding-left: 5%; */
  /* padding-right: 5%; */
  padding-bottom: 1em;
} .math-pf:before {
  font-weight: bold;
  content: "Proof. "
} .math-pf:after {
  font-size: "2em";
  content: "██";
  text-align: right;
  float: right;
}
/* details > summary { */
/*   list-style-type: ' '; */
/* } */
/* details[open] > summary { */
/*   list-style-type: ' '; */
/* } */

/* exercise */
.math-x {
  border: 4px dotted var(--example-border);
} .math-x:before {
  /* counter-increment: math-count; */
  color: var(--example-border);
  font-weight: bold;
  content: "Exercise ";
}

/* math numbering (or lack thereof)! */
.math-num {}
.math-num:before {
  font-weight: bold;
  content: " " counter(math-count)  ". ";
} .math-no-num {}
.math-no-num:before {
  font-weight: bold;
  content: ". ";
}
