.tab {
  min-width: 95%;
  width: 95%;
  height: 100%;
  padding-left: 1em;
  /* margin-left: 0.5em; */
  position: relative;
  /* overflow-x: hidden; */
  overflow-y: auto;
} .button {
  margin-right: 1em;
  background-color: none;
  border: 2px solid var(--fg0); /* ?>???? not updating */
  color: var(--fg0);
  font-size: 1em;
  text-decoration: none;
} .button:hover {
  cursor: pointer;
} .top-right {
  position: absolute;
  top: 1.5em;
  right: 0em;
  padding: 0.5em;
}
.invisible {
position: absolute;
left: -9999px;
}

