<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <!-- css stylesheets -->
    <link rel="stylesheet" href="/css/style.css?2" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/theme.css?2" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/fonts.css?2" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/elements.css?2" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/math.css?2" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/search.css?2" type="text/css" media="all" />

    <!-- katex -->
    {{ partial "math.html" . }}

    <!-- Icon for Website -->
    <link rel="icon" href="/gruv-cropped-gortoutline.png"/>

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
  </head>

  <body>
    <div id="main-wrapper" style="height: 100%; min-width: 35%; max-width: 100%; width: 700px; margin: auto">
      <div id="content-wrapper">
        {{ block "header" . }}

        {{ end }}
        <article style="margin-top: 1em; padding-left: 0.5em;">
          {{ block "main" . }}

          {{ end }}
        </article>
      </div>
      {{ block "footer" . }}

      {{ end }}
    </div>
  </body>
</html>

