<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <!-- css stylesheets -->
    <link rel="stylesheet" href="/css/style.css?2" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/theme.css?2" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/fonts.css?2" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/elements.css?2" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/math.css?2" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/tabs.css?2" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/search.css?2" type="text/css" media="all" />

    <!-- katex -->
    {{ partial "math.html" . }}

    <!-- Icon for Website -->
    <link rel="icon" href="/gruv-cropped-gortoutline.png"/>

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
  </head>

  <body style="height: 100%">
    {{ block "header" . }}

    {{ end }}
    <article style="padding-left: 0.5em;">
      {{ block "main" . }}

      {{ end }}
    </article>

    <!-- <div id="fastSearch"> -->
    <!--   <div id="postResults"> -->
    <!--     <div id="search-input-wrapper" style="position: relative; flex: 0 1 auto;"> -->
    <!--       <span class="search-header" style="left: 1em;">Search Query</span> -->
    <!--       <span id="search-icon">🔭</span> -->
    <!--       <input id="searchInput" class="searchInputStyle border" style="border-radius: 0.3em;"> -->
    <!--     </div> -->
    <!--     <div id="inputOutputDivider"></div> -->
    <!--     <div id="search-results-wrapper" class="border" style="border-radius: 0.62em; position: relative; flex: 1 1 auto;"> -->
    <!--       <span class="search-header" style="left: 1em;">Results</span> -->
    <!--       <div id="searchResults"></div> -->
    <!--     </div> -->
    <!--   </div> -->
    <!--   <div id="resultsContentDivider"></div> -->
    <!-- </div> -->
    <!---->
    <!--  <script src="/js/fuse.js"></script> <!-- download and copy over fuse.js file from fusejs.io --> -->
    <!--  <script src="/js/fastsearch.js"></script> -->
    <!---->
    {{ block "footer" . }}

    {{ end }}
  </body>
</html>

