{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
  <style>
    .tab {
      min-width: 35vw;
      width: 35vw;
      border-right: 3px solid var(--fg0);
      padding-left: 3px;
    } .exit-button {
      position: absolute;
      top: 1.5em;
      right: 0em;
      padding: 0.5em;
      margin-right: 1em;
      background-color: none;
      border: 2px solid var(--fg0); /* ?>???? not updating */
      color: var(--fg0);
      font-size: 1em;
      text-decoration: none;
    } .exit-button:hover {
      cursor: pointer;
    }
  </style>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script>
    function clearTabs() {
      document.getElementById("tabs").remove();
      var tabs = document.createElement("div");
      tabs.id = "tabs";
      tabs.style.display = "flex";
      document.getElementById("content").append(tabs);
    }
  </script>
  <div id="content" style="display: flex; width: 100%; margin-top: 1em">
    <div id="base" style="position: relative; width: 30vw; min-width: 25vw; height: 80vh; border-right: 3px solid var(--fg0);">
      <div id="baseTitle">
        <div style="display: flex;"><h1>{{ .Title }} </h1></div>
        <div class="exit-button" onclick="clearTabs();return false;">clear</div>
      </div>
      {{ .Content }}
    </div>
    <div id="tabs" style="display: flex"></div>
  </div>
  {{ partial "link-graph.html" . }}
{{ end }}

{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}
