{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div style="text-indent: 3em each-line;">{{ .Content }}</div>

  <h3>Subpages</h3>
  <ul style="list-style-type: none; margin: 0; padding: 0;">
    {{ range .Pages.ByPublishDate.Reverse }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  <h3>Recent Posts</h3>
  <ul style="list-style-type: none; padding: 0; margin: 0;">
    {{ range .RegularPagesRecursive.ByPublishDate.Reverse }}
      <li>
        <span style="opacity: 65%;">{{ .PublishDate.Format " Jan 2, 2006" }}</span>   <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}
