<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <!-- css stylesheets -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/fonts.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/elements.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/math.css" type="text/css" media="all" />

    <!-- katex -->
    {{ if .Params.math }}
      {{ partial "math.html" . }}
    {{ end }}

    <!-- Icon for Website -->
    <link rel="icon" href="/gruv-cropped-gortoutline.png"/>

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
  </head>

  <body>
    {{ block "header" . }}

    {{ end }}
    <article style="padding-left: 0.5em;">
      {{ block "main" . }}

      {{ end }}
    </article>
    {{ block "footer" . }}

    {{ end }}
  </body>
</html>

