  <ul class="post-list">
    {{ range (where .RegularPagesRecursive.ByPublishDate.Reverse "Params.layout" "note") }}
      <li>
        <div style="display: flex;">
          <div class="title-date">
            <a href="{{ .Permalink }}" style="text-wrap: wrap;">{{ .Title }}</a><br>
            <span style="opacity: 65%;"><em>{{ .PublishDate.Format " Jan 2, 2006" }}</em></span>
          </div>
          <div>
            {{ .Summary }}
          </div>
        </div>
      </li>
    {{ end }}
  </ul>

