{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
  <h1>Hello! o/</h1>
  Welcome to mel-land! As you would expect, this is the place where the mel guy indeed reigns supreme. B) <br><br>

  Check my about me page to learn more about me, and check my other pages to learn more about stuff important to me! <br><br>

  Enjoy your visit.

  <h2>OTL</h2>



  <h3>Recent Posts</h3>
  <ul style="list-style-type: none; padding: 0; margin: 0;">
    {{ range (.RegularPagesRecursive.ByPublishDate.Reverse  | first 5) }}
      <li style="padding-bottom: 0.5em">
        <div style="display: flex; width: 100%;">
          <div style="width: 11em; margin-right: 1em;">
            <div style="width: 100%">
              <a href="{{ .Permalink }}" style="text-decoration: none; text-wrap: wrap;">{{ .Title }}</a><br>
              <span style="opacity: 65%;"><em>{{ .PublishDate.Format " Jan 2, 2006" }}</em></span>
            </div>
          </div>
          <div style="flex-grow: 1;">
            {{ .Summary }}
          </div>
        </div>
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}
