{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}

<!-- <h1 style="font-size: 100px;">HELLO OLIVIA!!!</h1> -->
<!-- <h3>hello this is mel-land but it says hi to u specifically B)</h3> -->
  <h1>Hello! o/</h1>
  Welcome to mel-land! As you would expect, this is the place where the mel guy indeed reigns supreme. B) <br><br>

  Check my about me page to learn more about me, and check my other pages to learn more about stuff important to me! <br><br>

  Enjoy your visit.

  <h3>Recent Posts</h3>
  {{ partial "home-page-recent-posts" . }}
{{ end }}

{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}
