<style>
#content-tile {
  width: 32%;
  float: left;
  box-sizing: border-box;
  border: 1px solid white; 
  overflow: hidden;
  float: left;
} #tile-header {
  height: 175px;
  overflow: hidden;
  border: 1px solid red;
  text-align: center;
} #tile-desc {
  height: 550px;
  overflow: hidden;
  border: 1px solid blue;
}

#date-line {
  font-size: 60%;
  font-weight: lighter;
} #desc {
  font-size: 70%;
  font-weight: normal;
  line-height: 130%;
}
</style>

<div id="content-tile">
  <div id="tile-header">
    <a href="{{ .Permalink }}" style="text-decoration: none">{{ .Title }}</a><br>
    <div id="date-line">{{ .Date.Format "January 2, 2006" }}</div>
  </div>  
  <div id="tile-desc">
    <div id="desc">{{ .Description }}</div>
  </div>
</div>  
