<style>
#tile-header {
  height: 175px;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--gray2);
} #tile-desc {
  height: 550px;
  overflow: hidden;
}

#date-line {
  font-size: 60%;
  font-weight: lighter;
} #desc {
  font-size: 70%;
  font-weight: normal;
  line-height: 130%;
}
</style>

<div id="tile-header">
  <h3><a href="{{ .Permalink }}" style="text-decoration: none">{{ .Title }}</a></h3>
  <br>
  <div id="date-line">{{ .Date.Format "January 2, 2006" }}</div>
</div>  
<div id="tile-desc">
  <div id="desc">{{ .Description }}</div>
</div>

