<div id="guide">
  <div style="margin-bottom: 6%;">
    <div id="site-logo">
      <a class="logo" href="{{ .Site.BaseURL }}">
        <img src="/gortoutline.png" style="filter: brightness(0) saturate(100%) invert(96%) sepia(2%) saturate(4162%) hue-rotate(353deg) brightness(101%) contrast(97%);" width=50%>
      </a>
    </div>
    <div id="title-font">
      <a href="{{ .Site.BaseURL }}" style="text-decoration: none">mel-land</a>
    </div>
    <div id="subtitle-font">
      where the mel guy<br>
      reigns supreme
    </div>
  </div>
  <div id="nav-menu">
    <ul style="list-style-type: none; margin: 0; padding: 0;">
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}" style="text-decoration: none; font-weight: bold;">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
