<!-- All credit to https://github.com/john-guerra/d3V4ForceTutorial for giving the implementation guide :)  -->
<canvas id="network" width="1500" height="1500"></canvas>

<link rel="stylesheet" href="/css/theme.css" type="text/css" media="all" />
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
/* global d3 */



var linkOpacity = 0.5;
var nodeRadius = 5;
var repelStrength = 1.8;
var clickCutoffTime = 100;

var start, end;
  
var canvas = d3.select("#network"),
  width = canvas.attr("width"),
  height = canvas.attr("height"),
  ctx = canvas.node().getContext("2d"),
  r = nodeRadius,
  simulation = d3.forceSimulation()
    .force("x", d3.forceX(width/2))
    .force("y", d3.forceY(height/2))
    .force("collide", d3.forceCollide(r+1))
    .force("charge", d3.forceManyBody()
      .strength(repelStrength*-1000))
    .force("link", d3.forceLink()
      .id(function (d) { return d.name; }));


d3.json("allpagesgraphdata.json", function (err, graph) {
  if (err) throw err;

  simulation.nodes(graph.nodes);
  simulation.force("link")
    .links(graph.links);
  simulation.on("tick", update);

  canvas
      .call(d3.drag()
          .container(canvas.node())
          .subject(dragsubject)
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended)
          );

  function update() {
    ctx.clearRect(0, 0, width, height);

    ctx.beginPath();
    ctx.globalAlpha = linkOpacity;
    ctx.strokeStyle = "#fbf1c7";
    graph.links.forEach(drawLink);
    ctx.stroke();

    ctx.globalAlpha = 1.0;
    graph.nodes.forEach(drawNode);
  }

  function dragsubject() {
    return simulation.find(d3.event.x, d3.event.y);
  }

});

function dragstarted() {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d3.event.subject.fx = d3.event.subject.x;
  d3.event.subject.fy = d3.event.subject.y;
  // console.log(d3.event.subject.name);
  start = +new Date();
}

function dragged() {
  d3.event.subject.fx = d3.event.x;
  d3.event.subject.fy = d3.event.y;
}

function dragended() {
  if (!d3.event.active) simulation.alphaTarget(0);
  d3.event.subject.fx = null;
  d3.event.subject.fy = null;
  end = +new Date();
  // console.log(end - start)
  if (end-start < clickCutoffTime) { // hacky solution by just measuring if "mouse is held down very briefly" and treating a shortenough press as a click!
    window.open(d3.event.subject.lnk, "_blank");
    // console.log(d3.event.subject.name)
  }
}


function drawNode(d) {
  ctx.beginPath();
  if (d.kind === "section") {
    ctx.fillStyle = "#d79921"
  } else {
    ctx.fillStyle = "#ebdbb2"
  }
  ctx.moveTo(d.x, d.y);
  ctx.arc(d.x, d.y, r, 0, Math.PI*2);
  ctx.fill();
  ctx.font = "0.9em JetBrains Mono";
  ctx.fillText(d.name, d.x-2*r, d.y-2*r);
}

function drawLink(l) {
  ctx.moveTo(l.source.x, l.source.y);
  ctx.lineTo(l.target.x, l.target.y);
}




</script>
