{{ $nodeSlice := slice "{\"nodes\":[" }}
{{ $linkSlice := slice "],\"links\":["}}

{{ $relevantPages := where .Site.RegularPages.ByPublishDate "Params.notes" "eq" true}}
<!-- Getting a list of all the relevant pages  -->
{{ $allRelPages := after 1 (slice "") }}
{{ range $pg, $relevantPages }}
    {{ $pg.Title }} <br>
    {{ $allRelPages = $allRelPages | append (slice $pg.Permalink ) }}
{{ end }}
<!-- Do for every page -->
{{ range  $pg, $relevantPages }}
<!-- Gets list of referenced pages on current page! -->
 {{ $splitAtRefs := split $pg.RawContent "{{<ref" }}
 {{ $splitAtRefs = after 1 $splitAtRefs }}
 {{ $splitAtQuotes := slice "" }}
 {{ range $s, $splitAtRefs }}
    {{ $splitAtQuotes = $splitAtQuotes | append ( split $s "\"") }}   
 {{ end }}
 {{ $onlyRefs := slice "" }}
 {{ $counter := 0}}
 {{ range $s, $splitAtQuotes}}
    {{ $counter = mod (add $counter 1) 3 }}
    {{ if ( eq $counter 0 ) }}
        {{ $onlyRefs = $onlyRefs | append $s }}
    {{ end }}
 {{ end }}
 {{ $onlyRefs = after 1 $onlyRefs}}
 {{ $refTitles := slice "" }}
 {{ range $s, $onlyRefs }}
    {{ $refTitles = $refTitles | append (substr $s 7) }}
 {{ end }}
 {{ $refTitles = after 1 $refTitles}}
 {{ $finalList := $refTitles | uniq }}





  {{ range $p, $relevantPages }}
  <!-- Get current page's linktitle thing -->
      {{ $tmpLink := split $p.Permalink "/"}}
      {{ $ind := sub ($tmpLink | len) 2 }}
      {{ $currPage := index $tmpLink $ind }}
      {{ if (in $finalList $currPage) }}
        {{ $linkSlice = $linkSlice | append (slice "{\"source\":\"" $pg.Title "\",")}}
        {{ $linkSlice = $linkSlice | append (slice "\"target\":\"" $p.Title "\"},")}}
      {{ end }}
  {{ end }}
{{ end }}

{{ range $pg, $relevantPages }}
    {{ $nodeSlice = $nodeSlice | append (slice "{\"name\":\"" $pg.Title "\"},")}}
{{ end }}


{{ $nodeStr := delimit $nodeSlice "" }}
{{ $nodeStr = substr $nodeStr 0 -1}}
{{ $linkStr := delimit $linkSlice "" }}
{{ $linkStr = substr $linkStr 0 -1 }}
{{ $linkStr = print $linkStr "]}" }}
{{ $jsonStr := print $nodeStr $linkStr }}
{{ $jsonStr }}


