{{ $numpages := .RegularPagesRecursive | len }}
{{ if (ne $numpages 0) }}
<h2 style="text-align: center;">Posts by Category</h2>
<!-- Get tags for a section of page -->
<!-- Get categories -->
{{ $cats := slice }} 
{{ range .RegularPagesRecursive }}
  {{ range .Params.categories }}
    {{ $cats = $cats | append . }}
  {{ end }}
{{ end }}
<!-- Get rid of duplicate categories in array -->
{{ $cats = $cats | uniq }}

{{ range $cat, $cats }}
  {{ $counter := 0 }}
  <h3>{{ $cat }}</h3>
  <div id="tile-group">
    {{ range $.RegularPagesRecursive.ByPublishDate.Reverse }} 
      {{ if ( in .Params.categories $cat ) }}
        {{ $tileCounter := mod $counter 3 }}
        {{ $counter = add $counter 1 }}
        {{ if ( eq $tileCounter 0 ) }}
          <div id="content-tile" style="margin-right: 1%;">
            {{ partial "content-of-tile.html" . }}
          </div>    
        {{ else if ( eq $tileCounter 1 ) }}
          <div id="content-tile" style="margin-right: 1%; margin-left: 1%;">
            {{ partial "content-of-tile.html" . }}
          </div>    
        {{ else if ( eq $tileCounter 2 ) }}
          <div id="content-tile" style="margin-left: 1%;">
            {{ partial "content-of-tile.html" . }}
          </div>    
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
{{ end }}

