<link rel="stylesheet" href="/css/theme.css" type="text/css" media="all" />
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- https://lvngd.com/blog/force-directed-network-graph-d3/ -->
<!-- https://www.geeksforgeeks.org/d3-js-json-function/# -->
<!-- https://www.tutorialspoint.com/d3js/d3js_dragging_api.htm -->
<div id="network"></div>

<script>
/* global d3 */

var linkOpacity = 0.5;
var nodeRadius = 5;
var repelStrength = 2;
var clickCutoffTime = 100;
var theta = 0.5;
var maxDistance = 1500;

var start, end;

var width = 500;
var height = 500;
var svg = d3.select("#network")
  .append("svg")
  .attr("width", width)
  .attr("height",height)
  .style("border", "1px solid white");
var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force('charge', d3.forceManyBody()
      .strength(repelStrength*-1000)
      .theta(theta)
      .distanceMax(maxDistance)
    )
    .force('collision', d3.forceCollide().radius(function(d) {
            return d.radius
          }))
    .force("center", d3.forceCenter(document.querySelector("#networkGraph").clientWidth / 2, document.querySelector("#networkGraph").clientHeight / 2));

  

d3.json("allpagesgraphdata.json", function (err, graph) {
  if (err) throw err; // if theres an error with/while getting the data, dont do anything

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);
  simulation.force("link")
      .links(graph.links);

  var link = svg.append("g")
      .selectAll("line")
      .data(graph.links)
      .enter().append("line")

  link
      .style("stroke", "#aaa");

  var node = svg.append("g")
      .attr("class", "nodes")
      .selectAll("circle")
      .data(graph.nodes)
      .enter().append("circle")
          .attr("r", function(d){return nodeRadius});



  node
      .style("fill", "#cccccc")
      .style("fill-opacity","0.9")
      .style("stroke", "#424242")
      .style("stroke-width", "1px");



  var label = svg.append("g")
      .attr("class", "labels")
      .selectAll("text")
      .data(graph.nodes)
      .enter().append("text")
      .text(function(d) { return d.name; })
      .attr("class", "label")

  label
      .style("text-anchor", "middle")
      .style("font-size", "10px");
    

  function ticked() {
      link
          .attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

      node
           .attr("cx", function (d) { return d.x+5; })
           .attr("cy", function(d) { return d.y-3; });

      label
          .attr("x", function(d) { return d.x; })
          .attr("y", function (d) { return d.y; });
      }
} 
  
  
  
  
  
  

</script>


<!-- var width = "100%"; -->
<!-- var height = 300; -->
<!-- var svg = d3.select("#svgcontainer") -->
<!--   .append("svg").attr("width",width).attr("height",height); -->
<!---->
<!-- svg.append("line") -->
<!--   .attr("x1", "100%") -->
<!--   .attr("y1", 100) -->
<!--   .attr("x2", 200) -->
<!--   .attr("y2", 200) -->
<!--   .style("stroke", "white") -->
<!--   .style("stroke-opacity", 0.5) -->
<!--   .style("stroke-width", 2); -->
