<!-- {{ $args := delimit (slice "link" .RelPermalink "title" .Title "content" .RawContent "") "&" }} -->
<!-- <a href="" onclick="genTab(`{{ $args }}`);return false;">{{ .Title }}</a> -->
<a href="" onclick="genTab();return false;">{{ .Title }}</a>
<!-- <script src="/js/tabs2.js?2"></script>  -->
<!-- god level fix making sure the file is updated on the website. i hate web dev so much. -->

{{ $path := "" }}
{{ $js := resources.Get $path | resources.ExecuteAsTemplate $path . }}
{{ $js.Permalink }}
<script src="/js/tabs2.js?2"></script> 

