<link rel="stylesheet" href="/css/theme.css" type="text/css" media="all" />
{{ if eq ( .Get 0 ) "defn" }}
  <div class="math-env math-defn"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "ndefn" }}
  <div class="math-env math-defn"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "thm" }}
  <div class="math-env math-result math-thm"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "nthm" }}
  <div class="math-env math-result math-thm"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "prop" }}
  <div class="math-env math-result math-prop"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "nprop" }}
  <div class="math-env math-result math-prop"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "lem" }}
  <div class="math-env math-result math-lem"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "nlem" }}
  <div class="math-env math-result math-lem"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "coro" }}
  <div class="math-env math-result math-coro"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "ncoro" }}
  <div class="math-env math-result math-coro"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "rem" }}
  <div class="math-env math-rem"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "nrem" }}
  <div class="math-env math-rem"><span class="math-no-num"></span>
    <span style="font-weight: normal; color: var(--fg);">{{ .Inner }}</span> 
  </div>
{{ else if eq ( .Get 0 ) "ex" }}
  <div class="math-env math-ex">
    {{ .Inner }}
  </div>
{{ else if eq ( .Get 0 ) "up" }}
  <div class="math-env math-up">
    {{ .Inner }}
  </div>
{{ else if eq ( .Get 0 ) "x" }}
  <div class="math-env math-x">
    {{ .Inner }}
  </div>
{{ else }}
{{ end }}
