<script>

const box_width = 600;
const box_height = box_width;
const particle_radius = 1;

function draw_particle(canvas,ctx,x,y) {
  ctx.beginPath();
  ctx.arc(x,y,particle_radius,0, 2*Math.PI);
  ctx.fillStyle="white";
  ctx.fill();
}

class Particle {
  constructor(canvas,ctx,x,y,vx,vy) {
    draw_particle(canvas,ctx,x,y);
    this.x = x;
    this.y = y;
    this.vx = vx;
    this.vy = vy;
  }
}

class Brownian_Box {
  constructor(canvas,ctx,num_particles) {
    this.num_particles = num_particles;
    ctx.strokeStyle = "white";
    ctx.lineWidth = 5;
    ctx.strokeRect(0,0,canvas.width,canvas.height);

    for (let i = 0; i < num_particles; i++) {
      draw_particle(canvas,ctx,Math.random()*canvas.width,Math.random()*canvas.height);
    }
  }
}

function start_sim(height,width,num_particles) {
  var cv = document.createElement('canvas');
  cv.setAttribute("id","sim-box");
  cv.setAttribute("width",width);
  cv.setAttribute("height",height);
  document.getElementById("content-wrapper").appendChild(cv);
  const canvas = document.getElementById("sim-box");
  const ctx = canvas.getContext("2d");
  var sim = new Brownian_Box(canvas,ctx,height,width,num_particles);
}

start_sim(box_height,box_width,10);
</script>
